<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>test</title>
    <link rel="stylesheet" href="css/style.css">
  

</head>
<body>
    <div class="conteiner">
        <div class="root"></div>

        <h1>You was send</h1>
        <h3>Email : <%= obj.email %></h3> 
        <h3>Password : <%= obj.password %></h3> 

    </div>
<script src="js/index.js"></script>
</body>
</html>