<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>test</title>
    <link rel="stylesheet" href="css/style.css">
  

</head>
<body>
    <div class="conteiner">
        <div class="root"></div>
<div class="res_form">
        <h1 class="title">Data was send from form</h1>
        <h3 class="value">Email : <span><%= obj.email %></span></h3> 
        <h3 class="value">Email : <span><%= obj.name %></span></h3> 
        <h3 class="value">Password : <span><%= obj.password %></span></h3> 
</div>
    
    </div>
<script src="js/index.js"></script>
</body>
</html>